<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title>LA LISTE DES PRODUITS</title>
		<base href="/surfy-web/produit/" />
	</head>
	
	<body>
		<h1>Voici tous nos produits</h1>
		<small sec:authorize="hasRole('ROLE_ADMIN')">
			<a href="ajouter">Ajouter un produit</a>
		</small>
		
		<table>
			<thead>
				<tr>
					<th>Nom</th>
					<th>Prix</th>
					<th sec:authorize="hasRole('ROLE_ADMIN')">Actions</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="produit : ${ produits }">
					<td th:text="${ produit.modele }" />
					<td>[[${ produit.prix }]]</td>
					<td sec:authorize="hasRole('ROLE_ADMIN')">
						<a th:href="@{supprimer(id=${ produit.id })}">SUPPRIMER</a>
						<a th:href="'editer?id=' + ${ produit.id }">EDITER</a>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>